input:-webkit-autofill {
    -webkit-text-fill-color: var(--color-text);
    transition: background-color 5000s ease-in-out 0s;
}
/* color source: https://colorffy.com/dark-theme-generator */
/* color variables */
:root{
  --color-text: #e7e7e7;

  --color-secondary-100: #121212;
  --color-secondary-200: #282828;
  --color-secondary-300: #3f3f3f;
  --color-secondary-400: #575757;
  --color-secondary-500: #717171;
  --color-secondary-600: #8b8b8b;

  --color-primary-100: #382bf0;
  --color-primary-200: #5e43f3;
  --color-primary-300: #7a5af5;
  --color-primary-400: #9171f8;
  --color-primary-500: #a688fa;
  --color-primary-600: #ba9ffb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "arial";
}

body{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    background-color:var(--color-secondary-200);
}

/* login/register background */
.gradient-background{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.gradient-background {
  
  background: linear-gradient(300deg, #121212, #3f3f3f, #282828);
  background-size: 180% 180%;
  animation: gradient-animation 25s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* login/register form */
.wrapper {
    width: 420px;
    background: var(--color-secondary-100);
    /*border: 2px solid var(--color-primary-500);*/
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 20px;
    padding: 25px 35px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    color: var(--color-text);
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    outline: none;
    background: transparent;
    border: 2px solid var(--color-primary-600);
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    color: var(--color-text);
}

.input-box input::placeholder {
    color: var(--color-text);
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--color-text);
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    accent-color: var(--color-primary-400);
}

.remember-forgot a {
    text-decoration: none;
}

.wrapper .btn-submit {
    width: 100%;
    height: 45px;
    background: var(--color-primary-500);
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-text);
}

.wrapper .msg-error{
  color: rgb(253, 14, 14);
  margin: 5px 0 -15px 20px;
  font-weight: 500;
}

/*.wrapper .btn-submit:hover{
  background-color: var(--color-primary-300);
  transition: 0.2s;
}*/

.wrapper .register-login-link,
.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
    color: var(--color-text);
}

.register-login-link p a,
.register-link p a {
    text-decoration: none;
    font-weight: 600;
    color: var(--color-primary-600);
}

/* navbar */
header {
    width: 100vw;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-secondary-100);
  box-shadow: 0 0 1px var(--color-primary-600);
}

header li {
  float: left;
}

header li a {
  display: block;
  color: var(--color-text);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
header li a:hover {
  background-color: var(--color-secondary-300);
  transition: 0.2s;
}

/* profile */
.profile{
  margin-left: 5vw;
  margin-top: 10vh;
  /*border: none;
  border-radius: 0;
  box-shadow: none;*/
}

.profile h2{
  color: var(--color-text);
}

.profile h3{
  color: var(--color-text);
}

.wrapper-profile .input-box, h2{
  margin-bottom: 1rem;
}

/* party request bubble */
.request-container{
  color: var(--color-text);
}

.description{
  margin: 15px 0 15px 0;
}

.creator{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.creator:hover{
  overflow: initial;
  text-overflow: initial;
}

.btn-join{
  color: var(--color-text);
  background-color: var(--color-primary-500);
  border: none;
  border-radius: 20px;
  font-weight: 600;
  font-size: 14.5px;
  height: 40px;
  width: 80px;
  float: right;
}