input:-webkit-autofill {
    -webkit-text-fill-color: inherit;
    transition: background-color 5000s ease-in-out 0s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "arial";
}

body{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.gradient-background{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.nav {
    display: flex;
    width: 100%;
    height: 3rem;
    border: solid black 1px;
    align-items: center !important;
    overflow: hidden;
    z-index: 10 !important;
    position: fixed;
    top: 0;
    background-color: rgba(241, 225, 225, .8);
}

.nav ul li{
    list-style-type: none !important;
}

.nav-itempack-home{
    display: flex !important;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    justify-content: left;
}

.nav-itempack-search{
    display: flex !important;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.nav-itempack-login, .nav-itempack-logedin{
    display: flex !important;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    justify-content: right;
    flex-grow: 1 !important;
}

.nav-item{
    margin: 0.5rem;
}

.nav a{
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

.gradient-background {
  
  background: linear-gradient(300deg, #00bfff, #ca2bb7, #d383b0);
  background-size: 180% 180%;
  animation: gradient-animation 25s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.wrapper {
    width: 420px;
    background: rgba(241, 225, 225, .8);
    border: 2px solid rgba(184, 174, 174, 0.4);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 20px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    outline: none;
    background: transparent;
    border: 2px solid rgba(255, 0, 0, .2);
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #000;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    accent-color: rgb(240, 56, 96);
}

.remember-forgot a {
    text-decoration: none;
}

.wrapper .btn-submit {
    width: 100%;
    height: 45px;
    background: rgb(240, 56, 96);
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.wrapper .register-login-link,
.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-login-link p a,
.register-link p a {
    text-decoration: none;
    font-weight: 600;
}