<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Link to the styles.css here -->
    <link rel="stylesheet" href="static/css/style.css">
    <!-- Link to icons from boxicons.com -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="nav">
      <ul class="nav-itempack-home">
          <li class="nav-item">
              <a href="/"><p>home</p></a>
          </li>
        </ul>
      <ul class="nav-itempack-search">
          <!-- 
          <li class="nav-item">
              search goes here
          </li>
          -->
        </ul>
      <ul class="nav-itempack-login">
          <li class="nav-item">
              <a href="/login"><p>login</p></a>
          </li>
        </ul>
      <ul class="nav-itempack-logedin">
          <li class="nav-item">
              <a href=""><p>groups</p></a>
          </li>
          <li class="nav-item">
              <a href=""><p>profil</p></a>
          </li>
          <li class="nav-item">
              <a href=""><p>log out</p></a>
          </li>
          
        </ul>
      
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>