{% extends 'base.html' %}
{% block title %}Player Finder{% endblock %}
{% block content %}
<a href="{{ url_for('create_group') }}">Create</a>
<h1>Actual Groups</h1>

<div class="groups-wrapper">
    <div class="groups-filter">
        <!-- sem prijdou filtry-->
    </div>
    <div class="groups-container">
        {% for group in groups: %}
        <div class="wrapper request-container">
            <h2 class="request-item">{{ group.tittle }}</h2>
            <h3 class="request-item">{{ group.game_name }}</h3>
            <div style="float: right; width: 90px;">
                <p>{{ group.status }}</p>
                <p class="creator">{{ group.author.username }}</p>
            </div>
            <p>Date <br>{{ group.start_date }}-{{ group.end_date }}</p>
            <p>Time <br>{{ group.start_time }}-{{ group.end_time }}</p>
            <p style="margin-top: 20px;">{{ group.act_capacity }}/{{ group.max_capacity }}</p>
            <p class="description">{{ group.description }}</p>
            <form action="" method="POST">
                <button type="submit" class="btn-join" name="submit">Join!</button>
            </form>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}