{% extends 'base.html' %}
{% block content %}
<div class="gradient-background">
    <div class="wrapper">
        <form method="POST">
            {{ form.csrf_token }}
            <h1>Enter new password</h1>
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    {% for message in messages %}
                     <p class="msg-error">{{ message }}</p>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
            <div class="input-box">
                {{ form.new_password() }}
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="input-box">
                {{ form.repeat_new_password() }}
                <i class='bx bxs-lock-alt'></i>
            </div>
                {{ form.change(class="btn-submit") }}
        </form>
    </div>
</div>
{% endblock %}